/*
  Name: Mary Epler
  Date: 7/22/2020
  Assignment: Online Profile
  Filename: styles.css
*/
body {background-color: #ffe6ff;}
header {text-align: left;
        background-image: url(../images/compHeader.webp);
        background-size: cover;
        padding: 14%;
        color: #ff99ff;
        text-shadow: 2px 4px black;
        font-family: 'Berkshire Swash', cursive;
        box-shadow: 0 5px 10px gray;}
.foot {text-align:center;
       background-color: #cc0052;
       color:#ffe6ff;
       padding: 2px;}

h2 {text-shadow: 2px 2px black;}
h3 {text-align: center; font-family: 'Berkshire Swash', cursive;}

/* navigation styling */
.navigate {display:flex;
           flex-wrap: wrap;
           text-align: center;
           margin-top: 2%;}

.navigate a {background-color: lightgray;
             color: black;
             box-shadow: 1px 1px 5px gray;
             padding: 10px 40px;
             margin: 20px;
             text-decoration: none;
             flex: 1;}

.navigate a:hover {color: black;
                  background-color: #ff99ff;
                  padding: 10px 50px;
                  box-shadow: 20px 10px 5px gray;}

/*container that holds everything*/
.border {box-shadow: 1px 1px 5px gray;
         margin: 2%;
         background-color: white;}

/*push container past the floated image*/
.border::after{content: "";
               display: block;
               clear:both;}

/* home page */
.homeHead {margin-top: 30px;}
.homeMain {background-image: url(../images/meCat1.jpg);
           margin: 10%;
           background-size: cover;
           display: flex;
           justify-content: flex-end;
           box-shadow: 2px 4px 5px gray;}
.homeContent {background-color: white;
              opacity: 0.85;
              padding: 2% 2% 16% 2%;
              box-shadow: 2px 4px 5px gray;
              text-align: center;}
.homePic {display: none;}
.wordh3 {margin-top: 30%;}

/* home page swirl decoration styling */
.left {float:left;}
.right {float: right;}
.swirl1 {height: 750px;
         width: 70px;
         margin-top: 5%;}

.centerImage {text-align: center;}

/*about page styling*/
.bor1 {margin-bottom: 0; padding-bottom: 8%;}
.bor2 {margin-top: 0; padding-top: 8%;}
.aboutCon {
           align-items: center;
           text-align: center;
           margin-top: 5%;
           box-shadow: 2px 4px 15px #ff99ff;}

/* moves container past the floated image */
.aboutCon::after{content: "";
                 display: block;
                 clear:both;}

.aboutHead {padding-top: 10%;}

.sidePhoto {width: 400px;
            float: left;
            margin: 2%;}

/*styling for my Experience (classes taken) on about page*/
/* large container for background image */
.exper {background-image: url(../images/beach.webp);
        background-size: cover;
        background-color: #ffe6ff;
        opacity: 0.6;
        padding: 5%;}

/* container that holds the text for the section with a solid background to make text readable */
.aboutCon2 {display: flex;
            flex-wrap: wrap;
            margin: 0 9%;
            opacity: 0.9;
            background-color: white;}
.prog {flex-basis: 100%;
       padding: 5px;
       text-shadow: 2px 2px white;
       background-color: #e6ffe6;}

.classes {margin-left: 6%;}
.work {text-align: center;}
.work p {margin: 2%; padding: 0 5%;}

/* styling for hobbies section on about page */
.hobbies {margin-bottom: 10%;
          border: 4px double #ffccff;
          box-shadow: 1px 2px 5px gray;
          padding: 5%;}

/* about page swirl decor */
.decor {text-align: center; margin-top: 8%;}
.decor2 {text-align: center; margin-bottom: 8%;}
.swirl {width: 1100px; height: 100px;}

/* program page */
.contain1 {margin: 5%;}
.small {height: 300px; border: 2px solid #cccccc;}
.more {background-color: lightgray;}
.more:hover {background-color: #ff99ff;}
.programSubHead {margin-top: 4%;}

/* contact page */
.contact {display:flex; flex-wrap: wrap;}
.contactInfo {flex: 1;
              text-align: center;
              margin-top: 10%;}
.contactInfo p {font-size: 2em;}
/* contact page swirl decor */
.swirlDiv {margin-top: 5%;}
.conSwirl {height: 300px;}

.email {color: #ff0066}
.email:hover {color: #ff99ff;}

/* icon styling */
.fab {font-size: 4em;}
.fa-instagram-square {color: #ff0066;
                      margin-right: 20px;}
.fa-instagram-square:hover {color: pink;}
